html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.octicon, .mega-octicon {
  display: block; }

* {
  box-sizing: border-box;
  font-family: 'myriad';
  font-family: Helvetica; }

#wrapper {
  padding-top: 20px;
  margin-bottom: 30px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #wrapper::after {
    clear: both;
    content: "";
    display: table; }

#leftColumn {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  #leftColumn:last-child {
    margin-right: 0; }

#mainColumn {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0; }
  #mainColumn:last-child {
    margin-right: 0; }

header {
  background: #F5F5F5;
  height: 50px;
  padding: 15px 90px 15px 60px; }
  header span {
    float: left; }

.headerNavMiddle, .topSearch {
  position: relative;
  margin: 0;
  float: left;
  text-decoration: none; }

.headerNavRight {
  position: relative;
  margin: 0;
  float: right;
  display: -webkit-inline-box;
  text-decoration: none; }

.profileBio {
  padding: 0;
  display: block;
  float: left; }

.tabs a {
  float: right; }

nav.tabsNav {
  float: left;
  height: 20px; }

.repoFilter, .filterOptions {
  display: -webkit-inline-box;
  margin: 10px;
  padding: 10px;
  list-style: none; }
  .repoFilter a, .filterOptions a {
    float: right;
    margin: 0 11px; }

.repoSearch {
  float: left; }

.repoLog {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .repoLog:last-child {
    margin-right: 0; }

a.repo {
  padding: 10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; }

a.cont, a.public {
  padding: 10px; }
